/* -----------------------------CSS RESET------------------------- */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* -----------------------End of CSS RESET---------------------- */

/* General tools*/

.box {
  display: block;
}

.wrapped {
  margin: 8.5rem auto;
  max-width: 1192px;
  padding: 0 2rem;
}

*,
*::after,
*::before {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  letter-spacing: -0.08rem;
}

body {
  position: relative;
  font-family: "Work Sans", "Arial", sans-serif;
}

/*
============================================================================
                              NAV BAR section
============================================================================
 */

.topnav {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color: #131313;
  height: 32px;
}

.topnav li {
  float: left;
  list-style: none;
}

.topnav li:nth-child(n + 7) {
  float: right;
}

.topnav li:nth-child(7) {
  padding-right: 1rem;
}

.topnav li a {
  display: inline-block;
  text-align: center;
  padding: 0px 7px;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 32px;
  color: #fff9;
}

.topnav li a:hover {
  color: white;
}

.topnav .right {
  justify-content: flex-end;
}

#news {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131313;
  top: 32px;
  width: 220px;
  text-align: left;
  z-index: 999;
}

.dropdown-content a {
  color: #fff9;
  font-size: 13apx;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left !important;
  padding-left: 10px;
}

.last-drop {
  border-top: 1px solid #ffffff1a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 106px;
  height: 80px;
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  text-align: center;
  z-index: 33;
}

.logo img {
  width: 80px;
  padding-top: 30px;
  -webkit-transition: padding-top 1s;
  transition: padding-top 1s;
  z-index: 3;
}

.logo2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 106px;
  height: 48px;
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  text-align: center;
  z-index: 9;
}

.logo2 img {
  width: 70px;
  height: 35px;
  padding-top: 16px;
  -webkit-transition: padding-top 1s;
  transition: padding-top 1s;
  z-index: 9;
}

.logo2-dropdown-content {
  position: absolute;
  background-color: #131313;
  top: 78px;
  left: 0;
  width: 106px;
  text-align: center;
  z-index: 9;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.logo2-dropdown-content a {
  display: block;
  color: #fff9;
  font-size: 13px;
  text-decoration: none;
  width: 100%;
  padding: 8px;
}

.logo2-dropdown-content a:hover {
  color: #fff;
}

.logo2:hover,
.logo:hover {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/home-1.gif);
}

.logo2:hover .logo2-dropdown-content {
  max-height: 1000px;
}

/*Main navigation bar*/

/*left*/
.nav {
  background: #fff;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  height: 48px;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 9;
  overflow: hidden;
}

.mainnav {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
}

.mainnav li {
  float: left;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}

.mainnav li a {
  display: inline-block;
  text-align: center;
  padding: 0 20px 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 48px;
  color: #aaa;
}

.mainnav li a:hover {
  color: #000;
}

/* finish copying*/
.search-icon {
  height: 100%;
  padding: 1.6rem;
  color: #b8b8b8;
  border-left: 1px solid #e8e8e8;
  font-size: 1.8rem;
  float: right;
  line-height: 0.8rem;
}

.search-icon:hover {
  color: #707070;
}

.burger-icon {
  float: right;
  height: 100%;
  padding: 1.6rem;
  color: #f42;
  border-left: 1px solid #e8e8e8;
  font-size: 2rem;
  line-height: 0.8rem;
}

.announces-nav {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  box-shadow: 0 1.6rem 4.8rem rgba(0, 0, 0, 0.15);
  line-height: 3rem;
  background: #fd3;
  color: #000;
  width: 100%;
  height: 2.96rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: sticky;
  top: 48px;
  z-index: 100;
  padding-left: 2rem;
}

/* */
@media only screen and (min-width: 1024px) {
  #logoid {
    display: block;
    height: 80px;
  }

  .topnav,
  .mainnav {
    padding-left: 12px;
  }

  .burger-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .topnav,
  .mainnav {
    display: none;
  }

  #logoid {
    display: block;
    height: 48px;
  }

  .logo img {
    padding-top: 16px;
  }

  .announces-nav {
    padding-left: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .announces-nav {
    font-size: 16px;
  }

  .topnav {
    padding-left: 12rem;
  }

  .topnav li:nth-child(n + 7) {
    display: none;
  }

  .burger-icon {
    display: none;
  }
}

/* */

/* ---------------------END OF NAV----------------- */

/*
============================================================================
                              HERO section
============================================================================
*/

.main-grid {
  margin-top: 0.2rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  display: flex;
  flex: wrap;
  margin-left: 0.8rem;
  width: auto;
}

.big-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 76%;
  height: 54.3rem;
  flex-basis: 50%;
  margin-bottom: 0.8rem;
  background: linear-gradient(
      165deg,
      rgba(0, 0, 0, 0.4) 0 40%,
      rgba(0, 0, 0, 0.85) 80% 100%
    ),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Apple-TV-back-to-the-future-header-image-796x417.png")
      no-repeat center;
  background-size: cover;
  color: white;
}

.big-article:hover {
  background: linear-gradient(
      165deg,
      rgba(0, 0, 0, 0.3) 0 40%,
      rgba(0, 0, 0, 0.85) 83% 100%
    ),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Apple-TV-back-to-the-future-header-image-796x417.png")
      no-repeat center;
  background-size: cover;
}

.top-logo-section {
  display: none;
}

.title-section {
  margin: 1.7rem;
  margin-bottom: 2.1rem;
}

.title-section a:first-child {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
}

.title-section a {
  text-decoration: none;
  color: #fff;
}

.art-title {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.art-details {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.65);
  letter-spacing: 0.01rem;
}

.art-details a {
  color: inherit;
}

.art-details a:hover {
  color: #fff;
}

.side {
  flex: 1 1 16.5%;
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
}

.side-article {
  flex-basis: 50%;
  height: 10rem;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: flex-end;
}

.side .art-title {
  font-size: 3rem;
  line-height: 3.1rem;
}

.first {
  background: linear-gradient(
      165deg,
      rgba(0, 0, 0, 0.4) 0 40%,
      rgba(0, 0, 0, 0.85) 80% 100%
    ),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/200-calories-10-796x417.png")
      no-repeat center;
  background-size: cover;
}

.first:hover {
  background: linear-gradient(
      165deg,
      rgba(0, 0, 0, 0.3) 0 40%,
      rgba(0, 0, 0, 0.85) 83% 100%
    ),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/200-calories-10-796x417.png")
      no-repeat center;
  background-size: cover;
}

.second {
  background: linear-gradient(
      165deg,
      rgba(0, 0, 0, 0.4) 0 40%,
      rgba(0, 0, 0, 0.85) 80% 100%
    ),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/syndication_bb-796x417.jpg")
      no-repeat center;
  background-size: cover;
}

.second:hover {
  background: linear-gradient(
      165deg,
      rgba(0, 0, 0, 0.3) 0 40%,
      rgba(0, 0, 0, 0.85) 83% 100%
    ),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/syndication_bb-796x417.jpg")
      no-repeat center;
  background-size: cover;
}

/* ----------------MEDIA: mobile screen width: <768px;-------------------- */

@media screen and (max-width: 767px) {
  .main-grid {
    flex-direction: column;
  }

  .big-article {
    flex: 1 1 24.5rem;
    width: 100%;
  }

  .art-title {
    font-size: 2rem;
    line-height: 1.1;
  }

  .title-section {
    margin: 1.2rem;
    margin-bottom: 1.8rem;
  }

  .art-details {
    margin-top: 0.6rem;
  }

  .side-article {
    width: 100%;
    flex: 2 1 24.5rem;
    height: 28rem;
  }

  .side {
    margin-left: 0;
  }

  .side .art-title {
    font-size: 2rem;
    line-height: 1.1;
  }
}

/* --------------MEDIA: medium screen (tablets) width: 768-1024px;--------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .big-article {
    height: 49.4rem;
  }

  .title-section {
    margin: 1.3rem;
    margin-bottom: 1.9rem;
  }

  .art-title {
    font-size: 3.7rem;
    line-height: 1.1;
  }

  .art-details {
    margin-top: 1rem;
  }

  .side .art-title {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .side .art-details {
    margin-top: 0.7rem;
  }
}

/* ------------------MEDIA: desktop or laptop width: >1024px;-------------- */

@media screen and (min-width: 1024px) {
  .big-article {
    justify-content: space-between;
    background: linear-gradient(
        165deg,
        rgba(255, 68, 34, 0.87) 0% 28%,
        rgba(255, 68, 34, 0.4) 40% 41%,
        rgba(0, 0, 0, 0.9) 72% 100%
      ),
      url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Apple-TV-back-to-the-future-header-image-796x417.png")
        no-repeat center;
    background-size: cover;
  }

  .big-article:hover {
    background: linear-gradient(
        165deg,
        rgba(255, 68, 34, 0.87) 0% 28%,
        rgba(255, 68, 34, 0.32) 40% 41%,
        rgba(0, 0, 0, 0.9) 72% 100%
      ),
      url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Apple-TV-back-to-the-future-header-image-796x417.png")
        no-repeat center;
    background-size: cover;
  }

  .top-logo-section {
    display: flex;
    justify-content: space-between;
    margin: 1.9rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .logo .date p {
    text-align: right;
  }

  .logo {
    width: 53%;
  }

  .logo img {
    width: 100%;
  }
}

/*
============================================================================
                              Latest News section
============================================================================
 */

.latest-news {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Work Sans", "Arial", sans-serif;
  font-size: 1.5rem;
}

.container {
  margin: 0 0;
  padding: 0 0;
  line-height: 1.2;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.story-image {
  background-size: cover;
}

.block-title h1 {
  color: #f42;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.block-title h1:hover {
  color: #000;
}

.imgback1 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/iPhone-11.00_07_21_14.Still008-480x270.png);
  background-repeat: no-repeat;
  background-position: center;
}

.imgback2 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Untitled-design117-516x270.png);
  background-repeat: no-repeat;
  background-position: center;
}

.imgback3 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/stalker-relection-eye-japan-516x270.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.imgback4 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/sonydeal-516x270.png);
  background-repeat: no-repeat;
  background-position: center;
}

.imgback5 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/bank-of-england-facebook-blockchain-cryptocurrency-libra-rules-engagement-405x270.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.imgback6 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/sextortion-blockchain-cryptocurrency-bitcoin-masturbation-video-hack-480x270.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.imgback7 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/sale_22049_primary_image_wide-540x270.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.imgback8 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/200-calories-9-516x270.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* ----------------MEDIA: mobile screen width: <768px;-------------------- */

@media screen and (max-width: 767px) {
  .container {
    margin: -12px;
  }

  .news-block {
    font-size: 1.4rem;
    display: inline-flex;
    padding: 1.2rem;
  }

  .block-text {
    display: flex;
    flex-direction: column;
  }

  .news-block h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
  }

  .news-block a {
    text-decoration: none;
    color: #000;
  }

  .news-block h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .news-block .news-title a:hover {
    color: #f42;
  }

  .news-block ul {
    list-style: none;
  }

  .news-block .story-byline a {
    font-family: "Nunito Sans", sans-serif;
    color: #aaa;
  }

  .news-block .story-byline a:hover {
    color: #555;
  }

  .news-block li {
    float: left;
    padding-right: 1rem;
    color: #aaa;
  }

  .story-image {
    background-size: cover;
    min-height: 7.5rem;
    min-width: 7.5rem;
    margin-right: 0.8rem;
  }
}

/* --------------MEDIA: medium screen (tablets) width: 768-1024px;--------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    margin: -12px;
  }

  .news-block h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
  }

  .news-block {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    min-width: 23rem;
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 1rem;
    height: 27.06rem;
  }

  .news-block a {
    text-decoration: none;
    color: #000;
  }

  .news-block h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .news-block .news-title a:hover {
    color: #f42;
  }

  .news-block ul {
    list-style: none;
  }

  .news-block .story-byline a {
    font-family: "Nunito Sans", sans-serif;
    color: #aaa;
  }

  .news-block .story-byline a:hover {
    color: #555;
  }

  .news-block li {
    float: left;
    padding-right: 1rem;
    color: #aaa;
  }

  .story-image {
    height: 13.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}

/* ------------------MEDIA: desktop or laptop width: >1024px;-------------- */

@media screen and (min-width: 1024px) {
  .special-events {
    padding-top: 3rem;
  }

  .container {
    margin: -12px;
  }

  .news-block h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
  }

  .news-block {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    min-width: 23rem;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.2rem;
    height: 25.54rem;
  }

  .news-block a {
    text-decoration: none;
    color: #000;
  }

  .news-block h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .news-block .news-title a:hover {
    color: #f42;
  }

  .news-block ul {
    list-style: none;
  }

  .news-block .story-byline a {
    font-family: "Nunito Sans", sans-serif;
    color: #aaa;
  }

  .news-block .story-byline a:hover {
    color: #555;
  }

  .news-block li {
    float: left;
    padding-right: 1rem;
    color: #aaa;
  }

  .story-image {
    height: 13.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}

/*
============================================================================
                              Special Events section
============================================================================
 */

.imgbackspc1 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/597d12de5f1604078c51be9c3b365e60.jpg);
}

.imgbackspc2 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/EF4hwt-W4AILDL9-480x270.jpeg);
}

.imgbackspc3 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Windows-10X-517x270.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.imgbackspc4 {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/MicrosoftSurfaceProx-512x270.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

/*
============================================================================
                              Latest deals section
============================================================================
 */

.imgbacklat1 {
  background-image: url(https://cdnp1.stackassets.com/4c6357549bbe196eac7a2a550f3cf2a380f39e44/store/7d5851d962ea8a62a7e9939f0efebc686b69d83821b63060d3109048021b/sale_19399_primary_image.jpg);
}

.imgbacklat2 {
  background-image: url(https://cdnp3.stackassets.com/bed8a337b83198aecc1eaa97708a1b437deda193/store/3401bc6dc8fdbd03d86935b56cd418289be7709784a3817f7fdbaa862678/sale_22157_primary_image.jpg);
}

.imgbacklat3 {
  background-image: url(https://cdnp3.stackassets.com/80ea22e2919f5826b2765ad58a70ffdb0b1e217a/store/de89b6bc5feee838ebfcc0ae7ccc32f5e1556f453b6f538292a1e60842a4/sale_22062_primary_image.jpg);
}

.imgbacklat4 {
  background-image: url(https://cdnp2.stackassets.com/2de045f5c08675c61ee700230f0604fdd2e3e557/store/385003e89ed9c8e0938a35490994921cbd3a1c1ecde92e3f84376549f152/sale_18127_primary_image.jpg);
}

.imgbacklat5 {
  background-image: url(https://cdnp2.stackassets.com/9bfcf7d57291fdbaedfef0ca269c21a6264fa5d5/store/551a266bb1b658bfca7a48be3ae2739adcc71803ce42255c3b110e4bc779/sale_22291_primary_image.jpg);
}

.imgbacklat6 {
  background-image: url(https://cdnp2.stackassets.com/a0695bf765f5209ae845b845a7c316092891ea4a/store/54b7b525a385b2b1962c1fa649e01986728b5e98aa2a64343bbbf30681bd/sale_15929_primary_image.jpg);
}

.imgbacklat7 {
  background-image: url(https://cdnp1.stackassets.com/8d42ed94c5d1b5f03edbf017be3c9abc50c08e6a/store/d1f496d0e86783f61df9f78dca238fe1e7bf03690d064b709038ca4d648a/sale_22408_primary_image.jpg);
}

.imgbacklat8 {
  background-image: url(https://cdnp0.stackassets.com/0bcaf472e484efc5812ba81caff99e8d92b3e6e9/store/a608033f5bd5c0926a52360990ea5bd8a7241593db592e096d16df200727/product_30218_product_shots4.jpg);
}

/* ----------------MEDIA: mobile screen width: <768px;-------------------- */

@media screen and (max-width: 767px) {
  .news-block-tall {
    font-size: 1.4rem;
    display: inline-flex;
    padding: 1.2rem;
  }

  .block-text {
    display: flex;
    flex-direction: column;
  }

  .news-block-tall h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
  }

  .news-block-tall a {
    text-decoration: none;
    color: #000;
  }

  .news-block-tall h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .news-block-tall .news-title a:hover {
    color: #f42;
  }

  .news-block-tall ul {
    list-style: none;
  }

  .news-block-tall .price-byline a {
    font-family: "Nunito Sans", sans-serif;
    color: #aaa;
  }

  .news-block-tall .price-byline a:hover {
    color: #555;
  }

  .news-block-tall li {
    float: left;
    padding-right: 1rem;
    color: #aaa;
  }

  .story-image {
    background-size: cover;
    max-height: 7.5rem;
    max-width: 7.5rem;
    margin-right: 0.8rem;
  }

  .imgbacklat1 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat2 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat3 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat4 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat5 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat6 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat7 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat8 {
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* --------------MEDIA: medium screen (tablets) width: 768-1024px;--------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    margin: -12px;
  }

  .news-block-tall h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
  }

  .news-block-tall {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    min-width: 23rem;
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 1rem;
    height: auto;
  }

  .news-block-tall a {
    text-decoration: none;
    color: #000;
  }

  .news-block-tall h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .news-block-tall .news-title a:hover {
    color: #f42;
  }

  .news-block-tall ul {
    list-style: none;
  }

  .news-block-tall .story-byline a {
    font-family: "Nunito Sans", sans-serif;
    color: #aaa;
  }

  .news-block-tall .story-byline a:hover {
    color: #555;
  }

  .news-block-tall li {
    float: left;
    padding-right: 1rem;
    color: #aaa;
  }

  .story-image {
    height: 13.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}

/* ------------------MEDIA: desktop or laptop width: >1024px;-------------- */

@media screen and (min-width: 1024px) {
  .news-block-tall h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
  }

  .news-block-tall {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    min-width: 23rem;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.2rem;
    height: auto;
  }

  .news-block-tall a {
    text-decoration: none;
    color: #000;
  }

  .news-block-tall h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .news-block-tall .news-title a:hover {
    color: #f42;
  }

  .news-block-tall ul {
    list-style: none;
  }

  .news-block-tall .story-byline a {
    font-family: "Nunito Sans", sans-serif;
    color: #aaa;
  }

  .news-block-tall .story-byline a:hover {
    color: #555;
  }

  .news-block-tall li {
    float: left;
    padding-right: 1rem;
    color: #aaa;
  }

  .news-price {
    display: flex;
    height: auto;
  }

  .news-block-tall .price-byline:first-child a {
    text-decoration: line-through;
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #aaa;
  }

  .news-block-tall .price-byline:last-child span {
    text-decoration: none;
    font-size: 1.7rem;
    line-height: 2rem;
    color: #555;
  }

  .news-block-tall .story-image {
    height: 20.115rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}

/*
============================================================================
                              Latest Funding section
============================================================================
 */

.block-title-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.block-title-section > .block-title {
  width: 63rem;
}

.little-menu {
  display: flex;
}

.little-menu .info {
  font-size: 1.8rem;
  color: #f42;
  text-decoration: none;
  margin-bottom: 3rem;
}

.little-menu .separator {
  display: inline-block;
  font-size: 1.6rem;
  color: #f42;
  padding: 0 0.5rem;
}

.little-menu .info:hover {
  color: #000;
}

.fundings-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 24.2rem;
}

.fundings-container a {
  text-decoration: none;
  color: inherit;
}

.items-block {
  margin-left: 2.45rem;
  flex: 1;
  background-color: rgba(255, 68, 34, 0.02);
  z-index: -1;
}

.items-block:first-child {
  margin-left: 0;
}

.principal-block {
  position: relative;
}

.absolute-icon {
  position: absolute;
  margin: 1.07rem;
  height: 6rem;
  width: 6rem;
}

.absolute-icon img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

.orange-title,
.price-title {
  padding-left: 8.14rem;
  padding-right: 3rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.orange-title {
  height: 3.93rem;
  background-color: #f42;
  color: #fff;
  line-height: 3.93rem;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
}

.price-title {
  height: 5.73rem;
  background-color: rgba(255, 68, 34, 0.08);
}

.price-title > * {
  display: block;
  padding-top: 0.2rem;
  font-weight: 500;
  opacity: 0.6;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  font-family: "Nunito Sans", sans-serif;
}

.bold-price {
  padding-top: 1.07rem;
  font-weight: inherit;
  opacity: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-family: inherit;
}

.light-orange {
  line-height: 2.2rem;
  padding: 1.3rem;
  font-size: 1.3rem;
  font-weight: 300;
  padding-right: 2.8rem;
}

.light-orange i {
  margin-right: 0.6rem;
}

.finantial {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  font-size: 1.2rem;
}

.light {
  opacity: 0.5;
}

.last-none {
  display: none;
}

/* -----------------------MEDIA: mobile screen width: <768px;------------- */

@media screen and (max-width: 767px) {
  .block-title-section > .block-title h1 {
    margin-bottom: 1.8rem;
  }

  .little-menu .separator {
    display: none;
  }

  .little-menu .info {
    font-size: 1.5rem;
  }

  .little-menu {
    flex-direction: column-reverse;
  }

  .items-block {
    flex-basis: 100%;
    margin-left: 0;
    margin-bottom: 1.6rem;
  }
}

/* --------MEDIA: medium screen (tablets) width: 768-1024px;------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .little-menu {
    flex-direction: row-reverse;
  }
}

/* --------------MEDIA: desktop or laptop width: >1024px;----------------- */

@media screen and (min-width: 1024px) {
  .last-none {
    display: block;
  }
}

/*
============================================================================
                              Latest deals section
============================================================================
 */
.news-block-tall {
  z-index: 5;
}

.imgbacklat1 {
  background-image: url(https://cdnp1.stackassets.com/4c6357549bbe196eac7a2a550f3cf2a380f39e44/store/7d5851d962ea8a62a7e9939f0efebc686b69d83821b63060d3109048021b/sale_19399_primary_image.jpg);
}

.imgbacklat2 {
  background-image: url(https://cdnp3.stackassets.com/bed8a337b83198aecc1eaa97708a1b437deda193/store/3401bc6dc8fdbd03d86935b56cd418289be7709784a3817f7fdbaa862678/sale_22157_primary_image.jpg);
}

.imgbacklat3 {
  background-image: url(https://cdnp3.stackassets.com/80ea22e2919f5826b2765ad58a70ffdb0b1e217a/store/de89b6bc5feee838ebfcc0ae7ccc32f5e1556f453b6f538292a1e60842a4/sale_22062_primary_image.jpg);
}

.imgbacklat4 {
  background-image: url(https://cdnp2.stackassets.com/2de045f5c08675c61ee700230f0604fdd2e3e557/store/385003e89ed9c8e0938a35490994921cbd3a1c1ecde92e3f84376549f152/sale_18127_primary_image.jpg);
}

.imgbacklat5 {
  background-image: url(https://cdnp2.stackassets.com/9bfcf7d57291fdbaedfef0ca269c21a6264fa5d5/store/551a266bb1b658bfca7a48be3ae2739adcc71803ce42255c3b110e4bc779/sale_22291_primary_image.jpg);
}

.imgbacklat6 {
  background-image: url(https://cdnp2.stackassets.com/a0695bf765f5209ae845b845a7c316092891ea4a/store/54b7b525a385b2b1962c1fa649e01986728b5e98aa2a64343bbbf30681bd/sale_15929_primary_image.jpg);
}

.imgbacklat7 {
  background-image: url(https://cdnp1.stackassets.com/8d42ed94c5d1b5f03edbf017be3c9abc50c08e6a/store/d1f496d0e86783f61df9f78dca238fe1e7bf03690d064b709038ca4d648a/sale_22408_primary_image.jpg);
}

.imgbacklat8 {
  background-image: url(https://cdnp0.stackassets.com/0bcaf472e484efc5812ba81caff99e8d92b3e6e9/store/a608033f5bd5c0926a52360990ea5bd8a7241593db592e096d16df200727/product_30218_product_shots4.jpg);
}

.story-deal {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/deals-ribbon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: #000;
  display: block;
  height: 8rem;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  width: 80px;
  z-index: 2;
}

.story-deal h3 {
  position: absolute;
  top: 2rem;
  right: 1rem;
  transform: rotate(45deg);
}

/* ----------------MEDIA: mobile screen width: <768px;-------------------- */

@media screen and (max-width: 767px) {
  .news-block-tall {
    font-size: 1.4rem;
    display: inline-flex;
    padding: 1.2rem;
    z-index: 2;
  }

  .block-text {
    display: flex;
    flex-direction: column;
  }

  .news-block-tall h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
  }

  .news-block-tall a {
    text-decoration: none;
    color: #000;
  }

  .news-block-tall h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .news-block-tall .news-title a:hover {
    color: #f42;
  }

  .news-block-tall ul {
    list-style: none;
  }

  .news-block-tall .price-byline a {
    font-family: "Nunito Sans", sans-serif;
    color: #aaa;
  }

  .news-block-tall .price-byline a:hover {
    color: #555;
  }

  .news-block-tall li {
    float: left;
    padding-right: 1rem;
    color: #aaa;
  }

  .story-image {
    background-size: cover;
    max-height: 7.5rem;
    max-width: 7.5rem;
    margin-right: 0.8rem;
  }

  .imgbacklat1 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat2 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat3 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat4 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat5 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat6 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat7 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .imgbacklat8 {
    background-repeat: no-repeat;
    background-position: center;
  }

  .story-deal {
    display: none;
  }
}

/* --------------MEDIA: medium screen (tablets) width: 768-1024px;--------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    margin: -12px;
  }

  .news-block-tall h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
  }

  .news-block-tall {
    position: relative;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    min-width: 23rem;
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 1rem;
    height: auto;
  }

  .news-block-tall a {
    text-decoration: none;
    color: #000;
  }

  .news-block-tall h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .news-block-tall .news-title a:hover {
    color: #f42;
  }

  .news-block-tall ul {
    list-style: none;
  }

  .news-block-tall .story-byline a {
    font-family: "Nunito Sans", sans-serif;
    color: #aaa;
  }

  .news-block-tall .story-byline a:hover {
    color: #555;
  }

  .news-block-tall li {
    float: left;
    padding-right: 1rem;
    color: #aaa;
  }

  .story-image {
    height: 22.15rem;
    min-height: 16.746rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .story-deal {
    top: 1rem;
    right: 1rem;
  }

  .story-deal h3 {
    position: absolute;
    top: 2rem;
    right: 1rem;
    transform: rotate(50deg);
  }
}

@media screen and (min-width: 1024px) {
  .news-block-tall h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    font-weight: 600;
  }

  .news-block-tall {
    position: relative;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    min-width: 23rem;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.2rem;
    height: auto;
  }

  .news-block-tall a {
    text-decoration: none;
    color: #000;
  }

  .news-block-tall h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  .news-block-tall .news-title a:hover {
    color: #f42;
  }

  .news-block-tall ul {
    list-style: none;
  }

  .news-block-tall .story-byline a {
    font-family: "Nunito Sans", sans-serif;
    color: #aaa;
  }

  .news-block-tall .story-byline a:hover {
    color: #555;
  }

  .news-block-tall li {
    float: left;
    padding-right: 1rem;
    color: #aaa;
  }

  .news-price {
    display: flex;
    height: auto;
  }

  .news-block-tall .price-byline:first-child a {
    text-decoration: line-through;
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #aaa;
  }

  .news-block-tall .price-byline:last-child span {
    text-decoration: none;
    font-size: 1.7rem;
    line-height: 2rem;
    color: #555;
  }

  .news-block-tall .story-image {
    height: 20.115rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}

/*
============================================================================
                              Footer section
============================================================================
 */

.social {
  background-color: #131313;
  padding: 3rem;
  height: 16rem;
  margin-bottom: -1.3rem;
  padding-bottom: 0;
}

.icons {
  width: 100%;
  text-align: center;
}

.social i {
  background-color: #333;
  color: #fff;
  padding: 1.5rem;
  margin: 0 0.3%;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  border: 1px solid #333;
  font-size: 1.5rem;
}

#youtube {
  padding-left: 1.4rem;
}

#instagram {
  padding-right: 2rem;
}

#wifi,
#envelope {
  padding-left: 1.2rem;
}

.social i:hover {
  background-color: #131313;
}

.social-text-wraper {
  padding-top: 3rem;
  color: #aaa;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

.social-text-wraper span {
  font-size: 1.4rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.social-text-wraper span:hover {
  color: #fff;
}

.final {
  width: 100%;
  height: 9.7rem;
  background-color: #000;
  color: #aaa;
  font-size: 1.4rem;
  margin: 0;
  padding: 4rem;
  text-align: center;
}

.final span img {
  display: inline-block;
  height: 0.9rem;
  margin-right: 0.1px;
  vertical-align: baseline;
}

b {
  color: red;
}
