
/* -----------------------------CSS RESET------------------------- */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* -----------------------End of CSS RESET---------------------- */

/* General tools*/

.box {
  display: block;
}

.wrapped {
  max-width: 1192px;
  padding: 0 2rem;
}

*,
*::after,
*::before {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  letter-spacing: -0.08rem;
}

body {
  position: relative;
  font-family: "Work Sans", "Arial", sans-serif;
}

/*
============================================================================
                              NAV BAR section
============================================================================
 */

.top-nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  height: 11rem;
  width: 100%;
}

.left-logo {
  display: flex;
  width: 10.6rem;
  height: calc(100% - 3rem); /* 100% - yellow-bar height */
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
}

.logo-svg {
  height: 1.6rem;
}

.right-header {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.block-link {
  display: inline-block;
  text-decoration: none;
  padding-right: 1rem;
}

.right-header .block-link {
  color: #a6a6a6;
  font-size: 1.34rem;
}

.left-bar .block-link:first-child,
.right-header .block-link:hover {
  color: #fff;
}

.first-bar {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  height: 3.2rem;
  line-height: 3.2rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main-nav {
  font-size: 1.4rem;
  background-color: #fff;
}

.main-nav ul {
  height: 4.8rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  background-color: white;
  color: #aaa;
  font-family: Shentox,sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: 4.8rem;
  letter-spacing: 0.04em;
  line-height: 1;
  padding: 1.8rem 1rem 0;
}

.search-icon {
  height: 100%;
  padding: 1.6rem;
  color: #B8B8B8;
  border-left: 1px solid #e8e8e8;
  font-size: 1.6rem;
  float: right;
  line-height: 0.8rem;
}

.search-icon:hover {
  color: #707070;
}

.burger-icon {
  display: none;
  float: right;
  height: 100%;
  padding: 1.6rem;
  color: #f42;
  border-left: 1px solid #e8e8e8;
  font-size: 1.6rem;
  line-height: 0.8rem;
}

.announces-nav {
 font-family: 'Nunito Sans', sans-serif;
 font-size: 1.4rem;
 padding-left: 1.2rem;
 box-shadow: 0 1.6rem 4.8rem rgba(0,0,0,.15);
 line-height: 3rem;
 background: #fd3;
 color: #000;
 width: 100%;
 height: 2.96rem;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/* -----------------------MEDIA: mobile screen width: <768px;------------- */

@media screen and (max-width: 767px){

  .top-nav {
    height: 8rem;
  }

  .first-bar {
    display: none;
  }

  .main-nav li a {
    display: none;
  }

  .burger-icon {
    display: block;
  }

}

/* --------MEDIA: medium screen (tablets) width: 768-1024px;------------- */

@media screen and (min-width: 768px) and (max-width: 1023px){
  .right-bar {
    display: none;
  }

}
/* --------------MEDIA: desktop or laptop width: >1024px;----------------- */

@media screen and (min-width: 1024px){

  .left-logo {
    display: none;
  }
}

/* ---------------------END OF NAV----------------- */

/*
============================================================================
                              HERO section
============================================================================
 */

.main-grid {
  margin-top: 11.3rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  display: flex;
  flex: wrap;
  margin-left: 0.8rem;
  width: auto;
}

.big-article {
  flex: 1 1 70%;
  height: 54rem;
  flex-basis: 50%;
  margin-bottom: 0.8rem;
  border: red 3px solid;
}

.side {
  flex: 1 1 18%;
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
}

.side-article {
  flex-basis: 50%;
  height: 10rem;
  margin-bottom: 0.8rem;
  border: red 3px solid;
}

/* ----------------MEDIA: mobile screen width: <768px;-------------------- */

@media screen and (max-width: 767px){
  .main-grid {
    margin-top: 8.2rem;
    flex-direction: column;
  }

  .big-article {
    flex: 1 1 28rem;
    width: 100%;
  }

  .side-article {
    width: 100%;
    flex: 2 1 28rem;
    height: 28rem;
  }

  .side {
    margin-left: 0;
  }
}
/* --------------MEDIA: medium screen (tablets) width: 768-1024px;--------- */

@media screen and (min-width: 768px) and (max-width: 1023px){
  .big-article {
    height: 46rem;
  }

}
/* ------------------MEDIA: desktop or laptop width: >1024px;-------------- */

@media screen and (min-width: 1024px){


}

/*
============================================================================
                              Latest News section
============================================================================
 */

.latest-news {
  margin:  8.5rem auto;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Work Sans', "Arial", sans-serif;
  font-size: 1.5rem;
}

.block-title h1{
  color: #f42;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.block-title h1:hover {
  color: #000;
}

.container {
  margin: 0 0;
  padding: 0 0;
  line-height: 1.2;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.news-block {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  min-width: 23rem;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.2rem;
}

.news-block a {
  text-decoration: none;
  color: #000;
}

.news-block h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  letter-spacing: 0;
}

.news-block .news-title a:hover {
  color: #f42;
}

.news-block ul {
  list-style: none;
}

.news-block .story-byline a {
  font-family: 'Nunito Sans', sans-serif;
  color: #aaa;
}

.news-block .story-byline a:hover {
  color: #555;
}

.news-block li{
  float: left;
  padding-right: 1rem;
  color: #aaa;
}

.story-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/bitcoin-binance-516x270.jpg);
  height: 13.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

/* ----------------MEDIA: mobile screen width: <768px;-------------------- */

@media screen and (max-width: 767px){
  
}

/* --------------MEDIA: medium screen (tablets) width: 768-1024px;--------- */

@media screen and (min-width: 768px) and (max-width: 1023px){

  .news-block {
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 1rem;
  }

  .container {
    margin: -12px;
  }
}
  
}

/* ------------------MEDIA: desktop or laptop width: >1024px;-------------- */

@media screen and (min-width: 1024px){

  .container {
    margin: -12px;
  }
}

